<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Admin Dashboard</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
    <h2>Admin Dashboard</h2>
    <div th:replace="fragments::header">
    </div>
    <div class="col-7">
        <br/>
        <h3>Customers</h3>
        <table border="1" cellpadding="10" class="table bg-white">
            <thead>
            <tr class="bg-light">
                <th>ID</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Age</th>
                <th>Address</th>
                <th>Assigned</th>
                <th>Actions</th>
            </tr>
            </thead>
            <!--
             Now that your headers are defined, you can reference the key-value
             pair "customerList" that you added to the model above.
             Thymeleaf will loop over each customer and extract the attributes to match
             your column names.
            -->
            <tbody>
            <tr th:each="customer : ${customerList}">
                <td th:text="${customer.id}">Customer ID</td>
                <td th:text="${customer.fullName}">Full Name</td>
                <td th:text="${customer.emailAddress}">Email Address</td>
                <td th:text="${customer.age}">Age</td>
                <td th:text="${customer.address}">Address</td>
                <td th:text="${customer.car}? ${customer.car.make} + ' ' + ${customer.car.model} : '-'">
                    Assigned Car
                </td>
                <td>
                    <!-- actions -->
                    <a th:href="@{'/edit-customer/' + ${customer.id}}">Edit</a> |
                    <a th:href="@{'/delete-user/' + ${customer.id}}">Delete</a> |
                    <a th:if="${customer.car} == null" th:href="@{'/assign-car/' + ${customer.id}}">Assign</a>
                    <a th:if="${customer.car} != null" th:href="@{'/unassign-car/' + ${customer.id}}">Unassign</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <a class="btn btn-primary" role="button" th:href="@{/new-user}">Add New Customer</a>
    </div>

    <div class="col-5">
        <br/>
        <h3>Cars</h3>
        <table border="1" cellpadding="10" class="table bg-white">
            <thead>
            <tr class="bg-light">
                <!--
                You are creating a table here, where the header will be the Car
                details and then the other rows will be filled by the data that
                is sent back in the Model object.
                -->
                <th>Car ID</th>
                <th>Make</th>
                <th>Model</th>
                <th>Assigned To</th>
                <th>Action</th>
            </tr>
            </thead>
            <!--
             Now that your headers are defined, you can reference the key-value
             pair "cars" that was added to the model above.
             Loop over each car and extract the attributes to match
             each column name.
            -->
            <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.id}">Car ID</td>
                <td th:text="${car.make}">Make</td>
                <td th:text="${car.model}">Model</td>
                <td th:text="${car.customer}? ${car.customer.fullName} + ' (' + ${car.customer.id} + ')' : '-'">
                    Assigned Customer ID
                </td>
                <td>
                    <a th:if="${car.customer} != null" th:href="@{'/unassign-car/' + ${car.customer.id}}">Unassign</a>
                    <a th:if="${car.customer} == null" th:href="@{'/delete-car/' + ${car.id}}">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <a class="btn btn-primary" role="button" th:href="@{/new-car}">Add New Car</a>
    </div>
    </div>
</div> <!-- end container-fluid-->
</body>
</html>