<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Car</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }
    </style>
</head>
<body>
<div class="container">
    <h2 th:text="'Choose Car for ' + ${customer.fullName}">Choose Car</h2>
    <div th:replace="fragments::header">
    </div>
    <div class="col-7">
    <p class="text-muted">Select from available vehicles</p>
    <table border="1" cellpadding="10" class="table bg-white">
        <thead>
        <tr class="bg-light">
            <th>Car ID</th>
            <th>Make</th>
            <th>Model</th>
            <th>Click to Select</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.id}">Car ID</td>
            <td th:text="${car.make}">Make</td>
            <td th:text="${car.model}">Model</td>
            <td th:if="${car.customer} == null">
                <a th:href="@{'/assign-car/' + ${customer.id} + '/' + ${car.id}}">Select</a>
            </td>
            <td th:if="${car.customer} != null" th:text="'Assigned'">Assigned</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>